volumes:
  db-data:

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: shopping_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:6.2-alpine
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  kafka:
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
  api:
    build: ./packages/api
    depends_on:
      - db
      - redis
      - rabbitmq
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - api
  web:
    build: ./packages/web
    ports:
      - "8000:8000"
    depends_on:
      - nginx
  user-service:
    build: ./packages/user-service
    depends_on:
      - rabbitmq
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
  item-service:
    build: ./packages/item-service
    depends_on:
      - rabbitmq
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
  mail-service:
    build: ./packages/mail-service
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092